{% extends 'admins/main.html'%}
{% block content %}

<div class="container">
  <style>
    .push-down{
        margin-top: 5em;
    }
  </style> 
  
  
<h3 class="noti-title">User Feedbacks</h3>

<!--modal-->
<div class="row mb-4">

<div class="col-md-12">

<div class="row mt-5">
    <div class="col-md-12">
        <div class="card shadow">
           <div class="card-header">
            <h3>Available user Feedbacks</h3>
           </div>
            <div class="card-body">
                <table class="table table-bordered table-striped" id="mytable">
                    <thead>
                    <tr>
                        <th>
                            Feedbacks
                        </th>
                        <th>
                            actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for feed in feeds %}
                    <tr>
                        <td>  {{ feed.feedback }}</td>
                        <td>
                           <a href="" class="btn btn-danger">Delete</a>
                           <a href="" class="btn btn-info">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
    
            </div>

          </div>
    </div>
</div>
</div>
<div class="push-down">

</div>
</div>
{% endblock %}