h2{
    color:#2CB6C9;
    
}
.container{
    margin-top: 10px;
}
span{
    color:#978A8A;
}
.container-image{
    background-color: #f3f7f7;
    height: 400px;
    width:500x;
    border-radius: 10px;
    
}
