{% extends 'tenant/main.html' %}

{% block content%}
<div class="container animate__animated animate__slideInUp">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Dashboard</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Welcome, {{ request.user }}</li>
            </ol>

            <!--rowstarts-->
            <div class="row">
              
                <div class="col-xl-6 col-md-6">
                    <div class="card card-color text-white mb-4">
                        <div class="card-body house">Available House</div>
                        <div class="box-element">
                            <h2>{{ house }}</h2>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'houses' %}">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>


        




                <div class="col-xl-6 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body house">Messages</div>
                        <div class="box-element">
                            <h2>{{ message }}</h2>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'tenant_chat' %}">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--rowends-->
        </div>
        <!--rowdiv-->
    </main>

</div>
{% endblock %}