{% extends 'tenant/main.html' %}
{% block content %}

<div class="container animate__animated animate__slideInUp">
    <h2 class="animate__animated animate__slideInUp d-inline">Houses</h2>
<a class="btn btn-dark d-inline float-right" href="{% url 'tenant_home' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="card shadow p-4">
<table id="mytable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>House Owner</th>
                    <th>Houser Number</th>
                    <th>Category</th>
                    <th>House Location</th>
                    <th>House Purpose</th>
                    <th>House Price</th>
                    <th>Room Capacity</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for houses in house %}
                  {% if houses.image%}
                <tr>
                    <td>{{houses.owner}}</td>
                    <td>{{houses.number}}</td>
                    <td>{{houses.category}}</td>
                    <td>{{houses.location}}</td>
                    <th>{{houses.purpose}}</th>
                    <td>Tsh.{{houses.price}} </td>
                    <td>{{houses.rooms}}</td>
                    <td>
                        <h5>
                            {% if houses.status == 'pending' %}
                            <span class="badge bg-warning">{{ houses.status }}</span>
                            {% elif houses.status == 'full' %}
                            <span class="badge bg-danger">{{ houses.status }}</span>
                            {% else %}
                            <span class="badge bg-info">{{ houses.status }}</span>
                            {% endif %}
  
                        </h5> 
                    </td>
                    <td>
                      <a href="{% url 'view_house' houses.id %}" class="btn btn-info"><i class="fa fa-eye"></i>View</a>
                        
                    </td>
                </tr>
                {% endif %}
    {% endfor %}
               
            </tbody>
           
        </table>
                </div>
            </div>
        </div>

    
</div>

{% endblock %}